{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Generate Summary{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.description.label }} {{ form.description(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Add Job</button>
</form>
{% if error is defined and error is not none %}
<div id="dynamic_div_summary">{{error}}</div>
{% endif %} {% if jobs is defined %}
<br />
<h3>Total jobs: {{jobs|count}}</h3>
<br />
{% for job in jobs %}
<div class="card">
  <div class="card-body">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div style="flex: auto">
        <h5 class="card-title">{{ job.title }} - {{job.id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ job.company }} - {{ job.location }} - {{job.date}}
        </h6>
      </div>
      <div style="flex: initial; margin-inline: 10px">
        <a
          href="{{ url_for('jobs.update_job', id=job.id) }}"
          class="btn btn-primary"
          >Edit</a
        >
      </div>
      <div style="flex: initial; margin-inline: 10px">
        <a
          href="{{ url_for('jobs.delete_job', id=job.id) }}"
          class="btn btn-primary"
          >Delete</a
        >
      </div>
    </div>
    <!-- <div>
            <h6 class="card-subtitle mb-2 text-info">Job Description:</h6>
            <p class="card-text">{{ job.description }}</p>
        </div> -->
    <h6 class="card-subtitle mb-2 text-info">Summary:</h6>
    <p class="card-text">{{ job.summary | safe}}</p>
    <h6 class="card-subtitle mb-2 text-info">Required Skills:</h6>
    <p class="card-text">{{ job.skills | safe}}</p>
  </div>
</div>
<br />
{% endfor %} {% endif %} {% endblock %}
