{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">User Choices</legend>
            {% if form.check_options.errors %}
            <div class="invalid-feedback">
                {% for error in form.check_options.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="grid-container">
                {% for choice in form.check_options %}
                <div class="form-check grid-item">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}